---
import EventLayout from '../../layouts/EventLayout.astro';
---

<EventLayout
  title="GenAI en het onderwijs"
  date="24 november 2026"
  location="Dordrecht"
>
  <h2>Over deze masterclass</h2>
  <p>Lorem Ipsum</p>
</EventLayout>
