---
import EventLayout from '../../layouts/EventLayout.astro';
---

<EventLayout
  title="Nieuwe kerndoelen toepassen"
  date="28 september 2026"
  location="Vught"
>
  <h2>Over deze masterclass</h2>
  <p>Lorem Ipsum</p>
</EventLayout>
