---
import EventLayout from '../../layouts/EventLayout.astro';
---

<EventLayout
  title="Onderwijsmatig toetsen"
  date="3 maart 2027"
  location="Culemborg"
>
  <h2>Over deze masterclass</h2>
  <p>Lorem Ipsum</p>
</EventLayout>
