---
import EventLayout from '../../layouts/EventLayout.astro';
---

<EventLayout
  title="Responsief coachen"
  date="20 mei 2027"
  location="Arnhem"
>
  <h2>Over deze masterclass</h2>
  <p>Lorem Ipsum</p>
</EventLayout>
