---
import DocLayout from '../layouts/DocLayout.astro';
import { url } from '../utils/url';

const body = `<p class="doc-label"><strong>Algemene voorwaarden van het Nederlands Centrum voor Curriculum Studies B.V.</strong></p>
<p>Opleidingen, Leergangen, Masterclasses en Maatwerktrajecten</p>
<p>Statutair gevestigd te: P.F. Bergmansstraat 1, 5017 JH Tilburg</p>
<p>KvK: 42079439 &nbsp; Btw: NL869611161B01</p>
<p>E-mail: info@nlccs.nl &nbsp; Website: www.nlccs.nl</p>
<p>Versie 2.0 – juli 2026</p>
<p>Deze voorwaarden zijn gedeponeerd bij de Kamer van Koophandel op 14 juli 2026</p>
<p class="doc-label"><strong>Inleiding</strong></p>
<ul class="doc-ul">
  <li>Nederlands Centrum voor Curriculum Studies B.V. ("NLCCS") verzorgt opleidingen, leergangen, masterclasses, professionaliseringstrajecten, maatwerktrajecten, incompanytrajecten en daarmee samenhangende onderwijsactiviteiten voor professionals en organisaties binnen het onderwijsdomein.</li>
  <li>NLCCS richt zich primair op schoolleiders, bestuurders, onderwijsprofessionals, stichtingen, samenwerkingsverbanden en besturen van onderwijsinstellingen.</li>
  <li>NLCCS verricht geen zelfstandige adviesdiensten. Eventuele begeleiding, reflectie, coaching of inhoudelijke ondersteuning vindt uitsluitend plaats binnen het kader van een opleiding, leergang, masterclass, maatwerktraject of incompanytraject.</li>
  <li>NLCCS staat voor kwaliteit, professionele zorgvuldigheid, actuele kennis, gezamenlijk leren en een veilige leeromgeving. Deze algemene voorwaarden regelen de rechtsverhouding tussen NLCCS, opdrachtgevers en deelnemers.</li>
</ul>
<h2>Artikel 1 – Definities</h2>
<ul class="doc-ul">
  <li>NLCCS: Nederlands Centrum voor Curriculum Studies B.V.</li>
  <li>Opdrachtgever: iedere natuurlijke persoon of rechtspersoon die met NLCCS een overeenkomst aangaat.</li>
  <li>Deelnemer: de natuurlijke persoon die feitelijk deelneemt aan een opleiding of traject van NLCCS.</li>
  <li>Opleiding: iedere cursus, training, workshop, leergang, masterclass, studiedag, coachingstraject of vergelijkbare dienst.</li>
  <li>Maatwerktraject / Incompanytraject: een exclusief voor opdrachtgever verzorgd of ontwikkeld traject.</li>
  <li>Studiemateriaal: alle readers, boeken, digitale content, presentaties, formats, syllabi, opdrachten en overige materialen.</li>
  <li>Certificaat: schriftelijke bevestiging van succesvolle afronding conform de voorwaarden van NLCCS.</li>
  <li>Werkdagen: maandag tot en met vrijdag, met uitzondering van algemeen erkende feestdagen in Nederland.</li>
</ul>
<h2>Artikel 2 – Toepasselijkheid</h2>
<ul class="doc-ul">
  <li>Deze algemene voorwaarden zijn van toepassing op alle offertes, aanbiedingen, overeenkomsten en diensten van NLCCS.</li>
  <li>Afwijkingen zijn uitsluitend geldig indien schriftelijk bevestigd door NLCCS.</li>
  <li>Algemene voorwaarden van opdrachtgever worden uitdrukkelijk uitgesloten, tenzij NLCCS schriftelijk anders instemt.</li>
</ul>
<h2>Artikel 3 – Offertes en totstandkoming overeenkomst</h2>
<ul class="doc-ul">
  <li>Alle offertes, voorstellen en prijsopgaven van NLCCS zijn vrijblijvend, tenzij schriftelijk anders vermeld.</li>
  <li>Offertes zijn geldig tot 14 kalenderdagen na verzenddatum, tenzij een andere termijn in de offerte staat vermeld.</li>
  <li>Een overeenkomst komt tot stand door:
    <ul class="doc-ul doc-ul--lettered">
      <li>a. schriftelijke aanvaarding;</li>
      <li>b. digitale bevestiging;</li>
      <li>c. retourzending van een ondertekende offerte;</li>
      <li>d. elektronische handtekening;</li>
      <li>e. feitelijke aanvang van werkzaamheden.</li>
    </ul>
  </li>
  <li>Een digitale handtekening of e-mailbevestiging geldt als rechtsgeldige instemming.</li>
  <li>NLCCS behoudt zich het recht voor een opdracht of inschrijving te weigeren indien daarvoor redelijke gronden bestaan.</li>
</ul>
<h2>Artikel 4 – Tarieven, btw, facturatie en betaling</h2>
<ul class="doc-ul">
  <li>Alle tarieven zijn exclusief btw, tenzij uitdrukkelijk anders vermeld.</li>
  <li>NLCCS is CKBRO-geregistreerd. Binnen de daarvoor geldende Nederlandse fiscale wet- en regelgeving kan NLCCS bepaalde onderwijsactiviteiten btw-vrij aanbieden.</li>
  <li>Indien wetgeving, regelgeving, fiscale uitleg, registratievoorwaarden of het karakter van de dienstverlening daartoe aanleiding geeft, is NLCCS gerechtigd alsnog btw in rekening te brengen of tarieven dienovereenkomstig aan te passen.</li>
  <li>Facturen dienen volledig te zijn voldaan binnen 14 dagen na factuurdatum, zonder korting, verrekening of opschorting.</li>
  <li>Indien betaling niet tijdig plaatsvindt, verkeert opdrachtgever van rechtswege in verzuim zonder nadere ingebrekestelling.</li>
  <li>Vanaf de vervaldatum is opdrachtgever wettelijke handelsrente verschuldigd, alsmede buitengerechtelijke incassokosten en invorderingskosten.</li>
  <li>NLCCS is gerechtigd werkzaamheden, toegang tot opleidingen, certificering en verdere dienstverlening onmiddellijk op te schorten totdat volledige betaling heeft plaatsgevonden.</li>
  <li>Betalingen strekken eerst ter voldoening van kosten, rente en vervolgens van opeisbare hoofdsommen.</li>
</ul>
<h2>Artikel 5 – Prijswijzigingen</h2>
<ul class="doc-ul">
  <li>NLCCS behoudt zich het recht voor tarieven redelijkerwijs aan te passen indien zich onvoorziene kostenverhogingen voordoen buiten haar invloedssfeer.</li>
  <li>Hieronder vallen onder meer:
    <ul class="doc-ul doc-ul--lettered">
      <li>a. inflatie of algemene prijsstijgingen;</li>
      <li>b. stijgende materiaal- en drukkosten;</li>
      <li>c. hogere literatuur- of licentiekosten;</li>
      <li>d. reis- en verblijfskosten;</li>
      <li>e. locatie- en cateringskosten;</li>
      <li>f. belastingen en heffingen;</li>
      <li>g. overige externe kostenontwikkelingen.</li>
    </ul>
  </li>
  <li>NLCCS zal opdrachtgever hierover tijdig informeren.</li>
</ul>
<h2>Artikel 6 – Inschrijving en deelname</h2>
<ul class="doc-ul">
  <li>Inschrijving geschiedt op volgorde van ontvangst, tenzij selectiecriteria gelden.</li>
  <li>NLCCS kan minimum- en maximumaantallen deelnemers vaststellen.</li>
  <li>Deelname is persoonlijk, behoudens vervanging conform artikel 9.</li>
  <li>NLCCS kan aanvullende toelatingseisen stellen indien aard of niveau van het programma dit vereist.</li>
</ul>
<h2>Artikel 7 – Annulering open opleidingen en leergangen vóór aanvang</h2>
<ul class="doc-ul">
  <li>Inschrijving brengt reserverings-, organisatie- en capaciteitskosten met zich mee.</li>
  <li>Annulering dient schriftelijk of per e-mail plaats te vinden.</li>
  <li>Bij annulering gelden de volgende voorwaarden:
    <ul class="doc-ul doc-ul--lettered">
      <li>a. Meer dan 50 werkdagen vóór aanvang kosteloze annulering is mogelijk. Reeds betaalde gelden worden niet in geld gerestitueerd, maar omgezet in een tegoed of herinschrijving voor een latere open opleiding of leergang van NLCCS.</li>
      <li>b. Tussen 50 en 30 werkdagen vóór aanvang: NLCCS is gerechtigd 50% van het deelnamebedrag te behouden of in rekening te brengen.</li>
      <li>c. Tussen 30 en 10 werkdagen vóór aanvang: NLCCS is gerechtigd 75% van het deelnamebedrag te behouden of in rekening te brengen.</li>
      <li>d. Minder dan 10 werkdagen vóór aanvang: 100% van het deelnamebedrag blijft verschuldigd. Restitutie is niet mogelijk.</li>
    </ul>
  </li>
  <li>Bij no-show blijft eveneens 100% van het deelnamebedrag verschuldigd.</li>
  <li>NLCCS kan deelname eenmalig verplaatsen naar een latere editie, maar is daartoe niet verplicht.</li>
</ul>
<h2>Artikel 8 – Tussentijdse beëindiging en terugbetalingsregeling</h2>
<ul class="doc-ul">
  <li>Indien een deelnemer na aanvang van een opleiding, leergang of traject besluit tussentijds te stoppen, bestaat in beginsel geen recht op restitutie van het deelnamebedrag.</li>
  <li>Ook wanneer betaling in termijnen is overeengekomen, blijft de verplichting tot betaling van het volledige deelnamebedrag bestaan, tenzij NLCCS schriftelijk anders besluit.</li>
  <li>In bijzondere of zwaarwegende omstandigheden, zoals langdurige ziekte, overmacht of andere aantoonbare persoonlijke omstandigheden, kan de deelnemer of opdrachtgever schriftelijk een gemotiveerd verzoek indienen voor een afwijkende regeling. NLCCS beoordeelt dit verzoek per geval en kan besluiten tot gehele of gedeeltelijke omzetting in een tegoed, deelname aan een latere editie of een andere passende oplossing.</li>
  <li>Reeds gemaakte kosten, waaronder organisatiekosten, locatiekosten, literatuur, studiematerialen, licenties, voorbereiding en reeds gevolgde bijeenkomsten, kunnen daarbij in mindering worden gebracht.</li>
  <li>Een verzoek tot tussentijdse beëindiging of afwijkende regeling schort de betalingsverplichting niet automatisch op.</li>
</ul>
<h2>Artikel 9 – Vervanging deelnemer</h2>
<ul class="doc-ul">
  <li>Een deelnemer mag zich laten vervangen.</li>
  <li>De vervangende deelnemer dient een vergelijkbare functie, ervaringsniveau of passend professioneel profiel te hebben.</li>
  <li>NLCCS kan vervanging weigeren indien dit niet passend is voor niveau, doelgroep of groepsdynamiek.</li>
  <li>Vervanging dient tijdig schriftelijk te worden gemeld.</li>
</ul>
<h2>Artikel 10 – Masterclasses</h2>
<ul class="doc-ul">
  <li>Restitutie van inschrijfgeld is uitsluitend mogelijk indien annulering uiterlijk 30 kalenderdagen vóór de masterclass per e-mail aan NLCCS is gemeld.</li>
  <li>Daarna bestaat geen recht op restitutie.</li>
  <li>Een passende vervanger kan worden voorgedragen, mits NLCCS daarmee instemt.</li>
</ul>
<h2>Artikel 11 – Wijzigingen, docentuitval en actualisering</h2>
<ul class="doc-ul">
  <li>NLCCS kan docent, datum, locatie of programma wijzigen indien omstandigheden dit noodzakelijk maken.</li>
  <li>Bij ziekte of verhindering van een docent zal NLCCS zich maximaal inspannen voor: a. vervangende docent met vergelijkbare deskundigheid; b. digitale uitvoering; c. verplaatsing; d. aangepaste invulling.</li>
  <li>Bij annulering zonder passend alternatief ontvangt opdrachtgever restitutie naar rato.</li>
  <li>Geen recht op aanvullende schadevergoeding, tenzij sprake is van opzet of grove schuld.</li>
  <li>NLCCS behoudt zich het recht voor docenten, literatuur, programmaonderdelen, werkvormen, digitale leeromgevingen en didactische aanpak tussentijds te actualiseren of aan te passen op basis van nieuwe inzichten, kwaliteitsverbetering of gewijzigde omstandigheden.</li>
</ul>
<h2>Artikel 12 – Externe locaties en faciliteiten</h2>
<ul class="doc-ul">
  <li>NLCCS maakt gebruik van externe opleidingslocaties en locaties van opdrachtgevers of stichtingen.</li>
  <li>NLCCS streeft naar een prettige, professionele en passende leeromgeving.</li>
  <li>NLCCS is niet aansprakelijk voor tekortkomingen van externe locaties, waaronder bereikbaarheid, wifi, klimaatbeheersing, parkeren, audiovisuele middelen, catering of toegankelijkheid.</li>
  <li>Eventuele klachten worden serieus genomen en waar mogelijk besproken met de locatiepartner.</li>
</ul>
<h2>Artikel 13 – Reiskosten, parkeren en catering</h2>
<ul class="doc-ul">
  <li>Reiskosten, parkeerkosten en verblijfskosten zijn voor rekening van deelnemer of opdrachtgever.</li>
  <li>Tijdens fysieke studiedagen zal NLCCS zich inspannen passende verzorging te bieden, waaronder koffie, thee, water, lunch indien aangekondigd en een versnapering.</li>
  <li>Catering wordt veelal verzorgd door externe partners. NLCCS is niet aansprakelijk voor uitvoering daarvan.</li>
  <li>Dieetwensen, allergieën en voedselbeperkingen dienen tijdig schriftelijk te worden gemeld. NLCCS zal zich inspannen deze door te geven, maar kan volledige beschikbaarheid niet garanderen.</li>
  <li>Niet-beschikbaarheid van specifieke dieetvoorzieningen geeft geen recht op restitutie.</li>
</ul>
<h2>Artikel 14 – Veilig, professioneel en inclusief leerklimaat</h2>
<ul class="doc-ul">
  <li>NLCCS bevordert actief een veilige, inclusieve, professionele en stimulerende leeromgeving.</li>
  <li>NLCCS werkt met activerende didactiek gericht op participatie, reflectie, dialoog en gezamenlijk professionaliseren.</li>
  <li>Iedere deelnemer dient zich veilig te voelen om zich uit te spreken, vragen te stellen en ervaringen te delen.</li>
  <li>Een goed leerklimaat is een gezamenlijke verantwoordelijkheid van NLCCS, docenten en deelnemers.</li>
  <li>Van deelnemers wordt verwacht dat zij actief bijdragen door respectvol gedrag, open communicatie en constructieve feedback.</li>
  <li>Signaleringen over onveiligheid of verstoring dienen proactief gemeld te worden bij docenten of programmaleiding.</li>
  <li>NLCCS kan maatregelen treffen indien gedrag de leeromgeving schaadt.</li>
</ul>
<h2>Artikel 15 – Gedragsregels, aanwezigheid en syllabus</h2>
<ul class="doc-ul">
  <li>Opleidingsspecifieke regels, aanwezigheidsnormen, opdrachten en aanvullende afspraken worden opgenomen in de syllabus of studiehandleiding.</li>
  <li>Deze documenten worden voorafgaand aan of bij aanvang verstrekt en geacht te zijn doorgenomen.</li>
  <li>Deelnemers dienen aanwezig te zijn bij bijeenkomsten van opleidingen en leergangen conform de geldende aanwezigheidseisen.</li>
  <li>Indien een deelnemer wegens ziekte, persoonlijke omstandigheden of overmacht afwezig is, kan NLCCS bepalen of en op welke wijze gemiste leertijd kan worden ingehaald, bijvoorbeeld via vervangende opdrachten of aanvullende studieactiviteiten.</li>
  <li>Het is aan NLCCS, de betrokken docent, kerndocent of programmaleiding om te bepalen of vervangende werkzaamheden voldoen aan de eisen van certificering en eventuele Schoolleidersregister-accreditatie.</li>
  <li>NLCCS behoudt zich het recht voor te beslissen of een deelnemer ondanks gemiste aanwezigheid alsnog in aanmerking komt voor certificering of accreditatiepunten.</li>
  <li>Bij fraude, plagiaat, intimidatie of ernstig verstorend gedrag kan deelname worden beëindigd zonder restitutie.</li>
</ul>
<h2>Artikel 16 – Literatuur en studiematerialen</h2>
<ul class="doc-ul">
  <li>NLCCS spant zich in om literatuur en studiematerialen tijdig beschikbaar te stellen.</li>
  <li>NLCCS is mede afhankelijk van uitgevers, distributeurs en logistieke partners.</li>
  <li>Vertragingen door herdrukken, leverproblemen of fouten van derden kunnen NLCCS niet worden toegerekend.</li>
  <li>NLCCS mag gelijkwaardige of geactualiseerde alternatieven aanbieden.</li>
  <li>Vertraging geeft niet automatisch recht op restitutie.</li>
</ul>
<h2>Artikel 17 – Afronding, praktijkplan en certificering</h2>
<ul class="doc-ul">
  <li>Voor afronding van een opleiding kan vereist zijn dat een praktijkplan, actieplan, eindopdracht of vergelijkbare uitwerking wordt ingediend.</li>
  <li>Indien onderdeel van het programma vormt dit een verplichte voorwaarde voor afronding.</li>
  <li>Alleen deelnemers die aan alle voorwaarden voldoen ontvangen een certificaat van NLCCS.</li>
  <li>NLCCS verstrekt geen bewijs van enkel aanwezigheid of deelname.</li>
  <li>Eventuele accreditatie- of herregistratiepunten worden uitsluitend toegekend indien aan alle formele eisen is voldaan.</li>
</ul>
<h2>Artikel 18 – Intellectueel eigendom, auteursrecht en gebruik van materialen</h2>
<ul class="doc-ul">
  <li>Alle intellectuele eigendomsrechten, waaronder auteursrechten, databankrechten en overige rechten, op door NLCCS ontwikkelde of gebruikte materialen berusten bij NLCCS of haar licentiegevers.</li>
  <li>Onder materialen worden onder meer verstaan: presentaties, hand-outs, readers, syllabi, formats, werkvormen, opdrachten, praktijkvoorbeelden, modellen, schema's, digitale content, video's, afbeeldingen, opnames, studiehandleidingen en overige documenten die tijdens of in verband met een opleiding, leergang, masterclass, maatwerktraject of incompanytraject worden verstrekt of gebruikt.</li>
  <li>De deelnemer en opdrachtgever verkrijgen uitsluitend een persoonlijk en niet-overdraagbaar gebruiksrecht voor deelname aan de betreffende opleiding of het betreffende traject.</li>
  <li>Het is zonder voorafgaande schriftelijke toestemming van NLCCS niet toegestaan om materialen geheel of gedeeltelijk te kopiëren, bewerken, verspreiden, publiceren, delen, uploaden, opnemen, door te sturen of op andere wijze beschikbaar te stellen aan derden.</li>
  <li>Onder verspreiding aan derden wordt mede verstaan interne verspreiding binnen de eigen school, stichting, bestuur, samenwerkingsverband, opleidingsteam, werkgroep, intranet, digitale leeromgeving of andere interne organisatieomgeving.</li>
  <li>Indien op materialen auteursrecht of een vergelijkbaar recht rust, berust dit recht bij NLCCS of haar licentiegevers, tenzij schriftelijk anders is overeengekomen.</li>
  <li>Gebruik van materialen voor interne scholing, teamontwikkeling, beleidsontwikkeling, presentaties, studiedagen, commerciële doeleinden of andere trajecten buiten de oorspronkelijke leergang is uitsluitend toegestaan na voorafgaande schriftelijke toestemming van NLCCS.</li>
  <li>Opnames van bijeenkomsten, presentaties of begeleidingsmomenten zijn uitsluitend toegestaan met voorafgaande schriftelijke toestemming van NLCCS.</li>
</ul>
<h2>Artikel 19 – Gebruik van AI-tools</h2>
<ul class="doc-ul">
  <li>Het is zonder voorafgaande schriftelijke toestemming van NLCCS niet toegestaan om materialen van NLCCS geheel of gedeeltelijk te uploaden naar, te verwerken in of te gebruiken binnen AI-tools, taalmodellen, chatbots, generatieve AI-systemen of vergelijkbare digitale toepassingen.</li>
  <li>Onder materialen worden onder meer verstaan: presentaties, hand-outs, readers, syllabi, formats, werkvormen, opdrachten, praktijkvoorbeelden, modellen, schema's, digitale content, video's, afbeeldingen, opnames, studiehandleidingen en overige documenten die tijdens of in verband met een opleiding, leergang, masterclass, maatwerktraject of incompanytraject worden verstrekt of gebruikt.</li>
  <li>Het gebruik van AI-tools door deelnemers voor het opstellen, herschrijven, samenvatten of inhoudelijk uitwerken van praktijkplannen, actieplannen, eindopdrachten, reflectieverslagen of andere beoordelingsdocumenten is niet toegestaan, tenzij NLCCS dit vooraf schriftelijk heeft toegestaan.</li>
  <li>Indien AI-gebruik door NLCCS wordt toegestaan, dient de deelnemer dit transparant te vermelden conform de instructies van NLCCS. Daarbij moet in ieder geval duidelijk zijn welke AI-tool is gebruikt, voor welk doel deze is gebruikt en op welke onderdelen van het ingeleverde werk het gebruik betrekking heeft.</li>
  <li>De deelnemer blijft te allen tijde zelf verantwoordelijk voor de inhoud, juistheid, originaliteit en professionele kwaliteit van ingeleverd werk. AI-gebruik ontslaat de deelnemer niet van de verplichting om eigen denkwerk, professionele afwegingen en praktijkervaring zichtbaar te maken.</li>
  <li>Ongeoorloofd of niet-transparant gebruik van AI kan gevolgen hebben voor beoordeling, certificering en toekenning van eventuele accreditatie- of herregistratiepunten.</li>
</ul>
<h2>Artikel 20 – Maatwerk en incompanytrajecten</h2>
<ul class="doc-ul">
  <li>Door NLCCS ontwikkelde programma's, curricula, leerarchitecturen, formats en materialen blijven eigendom van NLCCS, tenzij schriftelijk anders overeengekomen.</li>
  <li>Opdrachtgever verkrijgt uitsluitend het overeengekomen gebruiksrecht.</li>
  <li>Doorlevering of extern hergebruik zonder toestemming is niet toegestaan.</li>
  <li>NLCCS verzorgt binnen maatwerk- en incompanytrajecten uitsluitend opleidingsactiviteiten en professionele begeleiding binnen het kader van scholing en ontwikkeling.</li>
  <li>De daadwerkelijke implementatie, interne besluitvorming, cultuurverandering, leiderschapstransitie, personele uitvoering en duurzame borging binnen de organisatie blijven nadrukkelijk de verantwoordelijkheid van opdrachtgever.</li>
  <li>NLCCS is niet verantwoordelijk of aansprakelijk voor het al dan niet realiseren van organisatiedoelen, curriculumverbeteringen of veranderresultaten die afhankelijk zijn van interne factoren binnen de organisatie van opdrachtgever.</li>
  <li>NLCCS heeft hierbij een inspanningsverplichting en geen resultaatsverplichting.</li>
</ul>
<h2>Artikel 21 – Vertrouwelijkheid en privacy</h2>
<ul class="doc-ul">
  <li>Partijen behandelen vertrouwelijke informatie zorgvuldig en vertrouwelijk.</li>
  <li>NLCCS verwerkt persoonsgegevens conform de AVG en overige toepasselijke regelgeving.</li>
  <li>Op gegevensverwerking is tevens de privacyverklaring van NLCCS van toepassing.</li>
  <li>De actuele privacyverklaring is gepubliceerd op www.nlccs.nl.</li>
</ul>
<h2>Artikel 22 – Klachtenregeling en geschillen</h2>
<ul class="doc-ul">
  <li>Bij klachten wordt altijd geprobeerd deze in goed overleg op te lossen. Klachten worden door NLCCS zorgvuldig, vertrouwelijk en oplossingsgericht behandeld.</li>
  <li>Een klacht kan schriftelijk of per e-mail worden ingediend bij NLCCS via het daarvoor bestemde contactadres. De klacht bevat ten minste de naam van de indiener, de opleiding of leergang waarop de klacht betrekking heeft, een omschrijving van de klacht en, indien mogelijk, relevante stukken of voorbeelden.</li>
  <li>NLCCS bevestigt de ontvangst van een klacht binnen vijf werkdagen. Op een klacht wordt binnen vier weken na ontvangst inhoudelijk gereageerd.</li>
  <li>NLCCS streeft ernaar klachten binnen zes weken na ontvangst af te handelen. Indien voor zorgvuldige behandeling meer tijd nodig is, wordt de indiener hiervan binnen de oorspronkelijke termijn schriftelijk op de hoogte gesteld. Daarbij wordt toegelicht waarom meer tijd nodig is en binnen welke termijn een inhoudelijke reactie of afhandeling kan worden verwacht.</li>
  <li>Klachten worden behandeld door de directie van NLCCS of door een daartoe aangewezen vertegenwoordiger die niet direct bij de klacht betrokken is. Indien de klacht betrekking heeft op een specifieke docent, begeleider of beoordelaar, wordt deze niet zelfstandig belast met de afhandeling van de klacht.</li>
  <li>Indien de klacht na interne behandeling niet naar tevredenheid van de indiener is opgelost, kan de indiener de klacht voorleggen aan een onafhankelijke klachtenfunctionaris. NLCCS maakt hiervoor gebruik van een onafhankelijke klachtenfunctionaris die past binnen de eisen die Ascenda stelt aan een adequate klachtenprocedure voor geaccrediteerd professionaliseringsaanbod voor schooldirecteuren.</li>
  <li>De onafhankelijke klachtenfunctionaris is niet verbonden aan NLCCS en beoordeelt de klacht onafhankelijk. Het oordeel van de onafhankelijke klachtenfunctionaris is voor NLCCS bindend.</li>
  <li>Eventuele consequenties naar aanleiding van het oordeel van de onafhankelijke klachtenfunctionaris worden door NLCCS binnen de in het oordeel genoemde termijn, of bij het ontbreken daarvan binnen een redelijke termijn, afgehandeld.</li>
  <li>NLCCS draagt er zorg voor dat de inzetbaarheid, onafhankelijkheid en contactgegevens van de onafhankelijke klachtenfunctionaris actueel en verifieerbaar zijn. Deze gegevens worden op verzoek aan deelnemers, opdrachtgevers of auditoren verstrekt.</li>
  <li>Klachten en de wijze van afhandeling worden door NLCCS geregistreerd. Deze registratie wordt gedurende een termijn van ten minste twee jaar na afhandeling bewaard, tenzij wet- of regelgeving een langere bewaartermijn voorschrijft.</li>
  <li>Klachten dienen uiterlijk binnen vijf maanden na het ontstaan van de gebeurtenis waarop de klacht betrekking heeft schriftelijk te zijn ingediend. Daarna kan NLCCS besluiten de klacht niet meer inhoudelijk te behandelen.</li>
  <li>Het indienen van een klacht schort betalingsverplichtingen niet op, tenzij NLCCS schriftelijk anders besluit.</li>
  <li>Partijen behouden altijd het recht om een geschil voor te leggen aan de bevoegde rechter.</li>
</ul>
<h2>Artikel 23 – Aansprakelijkheid</h2>
<ul class="doc-ul">
  <li>Iedere aansprakelijkheid van NLCCS is beperkt tot het bedrag dat in het betreffende geval onder de aansprakelijkheidsverzekering van NLCCS wordt uitgekeerd, vermeerderd met het toepasselijke eigen risico.</li>
  <li>Indien geen uitkering plaatsvindt, is aansprakelijkheid beperkt tot maximaal het factuurbedrag van de betreffende opdracht.</li>
  <li>NLCCS is niet aansprakelijk voor indirecte schade, gevolgschade, omzetverlies, reputatieschade of gemiste kansen.</li>
  <li>Deze beperking geldt niet bij opzet of grove schuld.</li>
</ul>
<h2>Artikel 24 – Overmacht</h2>
<ul class="doc-ul">
  <li>Onder overmacht wordt verstaan iedere omstandigheid buiten redelijke invloed van NLCCS, waaronder ziekte, pandemie, staking, cyberincidenten, storingen, overheidsmaatregelen of extreme weersomstandigheden.</li>
  <li>Tijdens overmacht worden verplichtingen opgeschort.</li>
  <li>Indien nakoming blijvend onmogelijk wordt, kunnen partijen de overeenkomst beëindigen zonder schadeplichtigheid.</li>
</ul>
<h2>Artikel 25 – Toepasselijk recht</h2>
<ul class="doc-ul">
  <li>Op alle offertes, overeenkomsten, diensten en overige rechtsverhoudingen van NLCCS is uitsluitend Nederlands recht van toepassing.</li>
  <li>Partijen zullen bij eventuele geschillen eerst trachten in onderling overleg tot een redelijke en zorgvuldige oplossing te komen.</li>
  <li>Voor klachten en geschillen wordt tevens verwezen naar artikel 20 van deze voorwaarden.</li>
</ul>
<h2>Artikel 26 – Slotbepalingen</h2>
<ul class="doc-ul">
  <li>Indien een bepaling nietig of vernietigbaar blijkt, blijven overige bepalingen volledig van kracht.</li>
  <li>NLCCS mag deze voorwaarden actualiseren of wijzigen.</li>
  <li>De meest recente versie geldt vanaf publicatie.</li>
</ul>`;
---

<DocLayout
  title="Algemene Voorwaarden"
  description="Algemene voorwaarden van het Nederlands Centrum voor Curriculumstudies B.V. — van toepassing op alle opleidingen, leergangen, masterclasses en maatwerktrajecten."
  eyebrow=""
  version="2.0"
  versionDate="juli 2026"
  pdfHref={url('/docs/20260706 Algemene voorwaarden NLCCS B.V..pdf')}
  bodyHtml={body}
/>
